!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
	html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
	//<![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title= title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.navbar.navbar-static-top
			.navbar-inner
				a.brand(href='') CaseMyWay
				ul.nav
					li: a(href='/') Dashboard
					li: a(href='/orders') Orders
					li.active: a(href='/shipping') Shipping
					li: a(href='/discounts') Discounts
					li: a(href='/customers') Customers
					li: a(href='/products') Products
				form.navbar-search.pull-right
					input.search-query(type='text', placeholder='Search')
		br
		.container
			.row
				.span12
					h3.pull-left Latest Orders
			.row
				.span12
					table.table.table-condensed.table-hover
						thead
							td: b #
							td: b Name
							td: b Europe
							td: b North America
							td: b South America
							td: b Asia
							td: b Africa
							td: b Australia
							td: b Edit
						tr
							td #6
							td DHL Express
							td $10.00
							td $20.00 
							td $30.00
							td $10.00
							td $30.00
							td $20.00
							td: a(href='') Edit
						tr
							td #5
							td DHL Gloabl Mail
							td $10.00
							td $20.00 
							td $30.00
							td $10.00
							td $30.00
							td $20.00
							td: a(href='') Edit
						tr
							td #4
							td Bluedart
							td $10.00
							td $20.00 
							td $30.00
							td $10.00
							td $30.00
							td $20.00
							td: a(href='') Edit
						tr
							td #3
							td Professional Couriers
							td $10.00
							td $20.00 
							td $30.00
							td $10.00
							td $30.00
							td $20.00
							td: a(href='') Edit
						tr
							td #1
							td USPS
							td $10.00
							td $20.00 
							td $30.00
							td $10.00
							td $30.00
							td $20.00
							td: a(href='') Edit
						tr
							td(colspan='9')
								a.btn.btn-primary(href='') Add New